<settings>
	<setting propertyKey="@Properties.appVersion" title="@Strings.AppVersionTitle">
		<settingConfig type="alphaNumeric" readonly="true"/>
	</setting>
	<setting propertyKey="@Properties.favouriteStops" title="@Strings.FavouriteStopsPrompt">
		<settingConfig type="alphaNumeric" required="true"/>
	</setting>
	<setting propertyKey="@Properties.searchRadius" title="@Strings.SearchRadiusPrompt">
		<settingConfig type="numeric" errorMessage="@Strings.SearchRadiusError"/>
	</setting>
</settings>